.table{
	border: 1px solid;
}
main {
    display: grid;
    grid-template-columns: minmax(20px,40px) minmax(20px,40px);
    grid-template-rows: minmax(20px,60px) minmax(20px,60px) minmax(20px,60px);
}