.con1, .con2, .con3,.con4{
	background-color: #00008b;
    height: 200px;
    margin: 5px;	
    flex: 1 0 200px;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
