.text1{
	width: 70%;
	height: 5%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border: 1px solid;
	padding: 5px;
}
.text1:hover{
	white-space: normal;
}
.text2{
	width: 70%;
	height: 5%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border: 1px solid;
	padding: 5px;
}
.text2:hover{
	white-space: normal;
}