#container {
	width: 1325px;
	height: 400px;
	background-color: lightblue;
}
body{
	margin: 0;
}
#button {
	background-color: blue ;
	border-radius: 0.5em;
	border: 0;
	color: white;
	font-family: arial;
	width: 200px;
	height: 70px;
	position: absolute;
	left: 100px;
	top: 200px;
}

#rigging{
	position: absolute;
	background-color: blue;
	width: 15px;
	height: 150px;
	left: 220px;
	top: 50px;
	transform-origin: bottom;
	transform: rotate(-90deg);
	visibility: hidden;

}
#sail_1{ 
	position: absolute;
	top: 175px;
	left: 115px;
	border-bottom: 14.5px solid white; 
	border-left: 100px solid transparent;
	transform-origin: bottom;
	visibility: hidden;
}
#sail_2{
	position: absolute;
	top: 175px;
	left: 240px;
	border-bottom: 14.5px solid white;
	border-right: 60px solid transparent;
	transform-origin: bottom;
	visibility: hidden;

}
@keyframes ship_transform{
	100%{
		border-bottom-right-radius: 40%;
		border-bottom-left-radius: 40%;
	}
}
@keyframes sail_1_transform{
	100%{
		transform: scaleY(10);
	}
}
@keyframes sail_2_transform{
	100%{
		transform: scaleY(10);
	}
}
@keyframes rigging_transform{
	100%{
		transform: rotate(0deg);
	}
}
@keyframes ship_move{
	0%{
		left: 100px;
	}
	100%{
		left: 1200px;
	}
}
@keyframes rigging_move{
	0%{
		left: 220px;
	}
	100%{
		left: 1320px;
	}
}
@keyframes sail_1_move{
	0%{
		left: 115px;
	}
	100%{
		left: 1215px;
	}
}
@keyframes sail_2_move{
	0%{
		left: 240px;
	}
	100%{
		left: 1340px;
	}
}
