.nav a{
	height: 40px;
	width: 40px;
	background-color: #ddd;
	margin: 3px;
	text-align: center;
	font-family: arial;
	line-height: 40px;
	text-decoration: none;
}
.nav a:hover{
	background-color: #ccc;
}
.nav a:active{
	color: #fff;
	background-color: #d10953;
}
.nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
}