.body {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     display: grid;
     position: absolute;
}
.header{
     border: 1px solid;
}
.main{
    border: 1px solid;
}    
.footer{
     border: 1px solid;
}
.sidebar{
     border: 1px solid;
}
.div{
     display: grid;
     grid-template-columns: 1fr 3fr;
}
